@page
@model ArticuloBodegaModel
@{
}


@section Scripts {
    <script type="text/javascript" src="@Url.Content("../js/TablaComponent.js")"></script>

    <script type="module">
        window.onload = async () => {
            let UrlP = "../api/Catalogos/GetSaveArticuloBodega";
            let response = await fetch(UrlP, {
                method: "GET",
                headers: {
                    'Content-Type': "application/json; charset-utf-8",
                    'Accept': "*/*"
                }
            });
            response = await response.json();
            console.log(response)
            CreateTable(response, TableData)
        }
        //
        window.edit = async () => {
            const ObjInst = {
                Parametro: 'C',
                Fk_Bodega: TxtBodega.value,
                Fk_Articulo: TxtArticulo.value,
                PrecioVentaArticulo: PrecioVenta.value,
                EstadoArticuloBodega: TxtEstado.value,
                FechaVencArticuloBodega: TxtFecha.value
            }

            let Url = "../api/Catalogos/ArticuloBodega";
            let response = await fetch(Url,
                {
                    method: "POST",
                    headers: {
                        'Content-Type': "application/json; charset=utf-8",
                        'Accept': "*//*"
                    },
                    body: JSON.stringify(ObjInst)
                });
        }
        const reload = document.getElementById('Editar');
        reload.addEventListener('click', _ => { // el _ es para indicar la ausencia de parametros
            location.reload();
        });;
    </script>
}


@*Se crea el modal de Articulo Bodega*@
<div class="row" id="ModalArticuloBodega">
    <div class="modal-dialog modal-lg ">
        <div class=" modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h2 class="modal-title text-primary text-center">Articulos en Bodega</h2>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row p-3 border-0">
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-group" style="margin-left:10px">
                            <label>Bodega</label>
                            <select id="TxtBodega" class="custom-select">
                                <option value="1">Bodega Principal</option>
                                <option value="2">Bodega Secundaria</option>
                            </select>
                        </div>

                        <div class="form-row" style="padding-top:14px;">
                            <div class="form-group col-md-6">
                                <label>Articulo</label>
                                <input type="text" id="TxtArticulo" class="form-control" placeholder="Articulo"/>
                                <span class="text-danger"></span>

                            </div>


                            <div class="form-group col-md-6">
                                <label>Precio</label>
                                <input type="text" id="PrecioVenta" class="form-control" placeholder="C$"/>
                                <span class="text-danger"></span>
                            </div>

                            <div>
                                <div class="form-group" style="margin-left:10px">
                                    <label>Estado</label>
                                    <select id="TxtEstado" class="custom-select">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>

                                </div>
                            </div>

                            @* <div class="form-group col-md-6">
                            <label>Peso</label>
                            <input type="text" id="TxtPeso" class="form-control" placeholder="Peso (No Obligatorio)" />
                            <span class="text-danger"></span>
                            </div>
                            *@
                            <div class="form-group col-md-6">
                                <label>Fecha de Vencimiento</label>
                                <input type="date" id="TxtFecha" class="form-control" placeholder="Fecha de Vencimiento"/>
                                <span class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                    <button type="button" class="btn btn-success" id="Editar" formmethod="post" onclick="edit()">Grabar Cambios</button>
                </div>

            </form>
        </div>

    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th>
            Bodega
        </th>
        <th>Articulo</th>
        <th>Precio Venta</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.listInfor)
    {
        <tr>
            <td>
                @item.Fk_Bodega
            </td>
            <td>
                @item.Fk_Articulo
            </td>
            <td>
                @item.Precioventa
            </td>
            <td>
                @item.EstadoArticuloBodega
            </td>

            <td>
                @item.FechaVencArticuloBodega
            </td>
            <td>
                <button type="button" class="btn btn-success">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    }
    </tbody>

</table>