@page
@model InventarioIndexModel
@{
  
}


<script>
    let itemList = JSON.parse('@Html.Raw(Json.Serialize(Model.listInfor))');
    

    function Edit(item){
        window.location.replace("Edit?id=" + item)
    }
    
</script>


<h1>
	INVENTARIO DE HOUSE PETS
</h1>




<table class="table table-striped table-dark" style="margin-top:40pt; align-content:center ">
    <thead>
        <tr>
            <th>Articulo</th>
            <th>Descripcion</th>
            <th>Fecha de Compra</th>
            <th>Precio unitario Compra</th>
            <th>Precio unitario Venta</th>
            <th>Existencias</th>
            <th>Utilidades</th>
            <th>Acciones</th>
            @*<th>Precio de Venta Unitario</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model.listInfor)
        {
            var ite = Model.listInfor.IndexOf(item);
          
            <tr>
            <td>
                @item.NombreArticulo  
            </td>
            <td>
                    @item.DescripcionArticulo
            </td>
           
            <td>
                    @if (new DateTime(2022, 1, 1, 0, 0, 0).Equals(item.FechaCompra))
                    {
                        <p>No hay compras</p>
                    }
                    else{
                        @item.FechaCompra
                    }
                    
            </td>
            <td>
                    @if(new decimal(0).Equals(item.PrecioCompra))
                    {
                        <p>No hay compras</p>
                    }
                    else{
                        
                        @item.PrecioCompra
                    }
                    
            </td>
                <td>
                    @if (new decimal(0).Equals(item.PrecioVenta))
                    {
                        <p>Aun no hay ventas</p>
                    }
                    else
                    {

                        @item.PrecioVenta
                    }

                </td>

            <td>
                    @item.Existencias
            </td>

             <td>
                    @if (new decimal(0).Equals(item.Utilidades))
                    {
                        <p>Aun no hay ventas</p>
                    }
                    else
                    {

                        @item.Utilidades
                    }

                </td>
            <td>
                <button class="btn btn-success" onclick="Edit(@item.IdArticulo)">Editar</button>
            </td>

        </tr>
        }
    </tbody>
</table>
