@page
@model CAPA_UI.Pages.MaestrosDetalles.Ventas.VentasIndexModel
@{
}

@section Scripts {
<script type="module">
</script>
}

<script>
    async function generarFactura(item){
        window.location.replace("Factura?id="+item)
    }

</script>

<div style="margin-top:10pt">
    <a asp-page="/Index"> <input type="button" class="btn-success" value="Ir a Inicio" /></a>
    <a asp-page="/Ventas/Create"> <input type="button" class="btn-info" value="Crear una nueva venta" /></a>
</div>

<table class="table table-striped table-dark" style="margin-top:40pt; align-content:center">
    <thead>
        <tr>
            <th>ID Venta</th>
            <th>Cliente</th>
            <th>Fecha de venta</th>
            <th>IVA (Automatico)</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listInfor)
        {
            <tr>
                <td>
                    @item.IdCabVenta
                </td>
                <td>
                    @item.NombreCliente
                </td>
                <td>
                    @item.FechaVenta
                </td>
                <td>
                  C$  @item.IvaVenta
                </td>
                <td>
                  C$ @item.TotalVenta
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick="generarFactura(@item.IdCabVenta)">Factura</button>
                </td>
            </tr>
        }
    </tbody>
</table>